@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;1,400;1,500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: unset;
}

/*  TOP BAR  */

.top-bar {
    background-color: #e3e9f4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    position: fixed;
    width: 100%;
    height: 55px;
}

.top-bar__language {
    margin: 20px;
    font-weight: bold;
    font-size: 0.7rem;
}

.top-bar__logo {
    text-align: center;
}

.top-bar__logo img {
    width: 2.5em;
}

.top-bar__links {
    margin: 15px;
    text-align: right;
}

.top-bar__links a {
    border: dimgray 1px solid;
    padding: 5px 10px 5px 10px;
    color: dimgray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
}

/*  CONTENT  */
.login {
    height: 100vh;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 10vh;
}

/*  LEFT SIDE  */
.content--background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/exterior.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-text {
    font-size: 0.7em;
    background-color: black;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    width: 60vh;
}

.content-text__empty-div {
    padding: 20px 5px 20px 5px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
}

.content-text__title {
    margin: 3em 2rem 2em 2rem;
}

.content-text__description {
    margin: 0 3.5em 6em 3.5em;
}

.content-text a {
    background-color: orangered;
    color: white;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 35%;
    left: 35%;
}

/*  RIGHT SIDE  */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10vh;
}

.form__title, .form__description, form__input, form__checkbox, form__register {
    margin-bottom: 20px;
}

/* input form with icons */
.form__input--box {
    position: relative;
}

.form__input div input {
    padding: 10px 40px;
    border: #254e70 0.5px solid;
    width: 50vh;
}

.form__input > :last-child {
    margin-top: 5px;
}

.form__input--box .icon {
    position: absolute;
    top: 50%;
    left: 3%;
    color: grey;
    transform: translateY(-50%);
}

/* end input form with icon */

.form__checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 5px;
    color: #254e70;
}

.form__checkbox a {
    text-align: right;
    color: #254e70;
}

.form__button {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.form__button button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

.form__button > :first-child {
    background-color: #8c8c8c;
}

.form__button > :last-child {
    background-color: #4c4c4c;
}

@media only screen and (max-device-width: 1024px) {
    .login {
        display: unset;
    }

    .content {
        height: 100vh;
    }

    .form {
        padding: 0;
    }

    .input-form input {
        width: 85%;
    }

    .form {
        margin: 10vh
    }
}





